<%- include('header'); -%>
<div class="container">
    <div class="profile">
        <div class="img"><img src="https://fonts.google.com/icons?selected=Material+Symbols+Outlined:person:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=person&icon.size=24&icon.color=%235f6368&icon.platform=web"></div>
        <h2><%= user.name %></h2>
        <span><%= user.email %></span>
        <a href="/logout">Log Out</a>
    </div>
</div>
<%- include('footer'); -%>